.onboarding-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

h2 {
  /* font-family: 'Arial', sans-serif; */
  margin-top: 20px;
  font-family: fantasy;
  color: white;
  font-size: xx-large;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #555;
}
