.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.logo-container {
  text-align: center;
}

.logo-container img {
  width: 305px;
  height: auto;
}

h1 {
  margin-top: 20px;
  font-family: fantasy;
  color: white;
  font-size: xx-large;
}

  