.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .logo-container {
    text-align: center;
  }
  
  .logo-container img {
    width: 150px;
  }
  
  .logo-container h1 {
    font-family: 'Arial', sans-serif;
    color: #b78c6b;
  }
  